body.login form.form {
    padding-top: 150px;
    background: #fff url('../../content/logo.png') center top no-repeat;
}

body.login form.form::after {
  color: #999;
  content: 'Powered by kirby';
}

body.login form.form .btn-submit {
  margin: 0 0 45px 0;
}

body.login form.form fieldset.buttons-centered {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
